{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Product Catalog</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="{% static 'home.css' %}" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted">Product Catalog</h3>
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Electrical</a></li>
            <li><a href="#">Fasteners</a></li>
            <li><a href="#">Heating</a></li>
            <li><a href="#">Power Distribution</a></li>
          </ul>
        </nav>
      </div>
      <div class="row mt-2" style="margin-top:10px; margin-bottom:20px;"  id="vue-app">
  		    <div class="col col-lg-4">
  						<div class="panel-group" style="width:100%">
  							<div class="panel panel-default">
  							  <div class="panel-heading">
                    {% templatetag openvariable %} profile.first_name {% templatetag closevariable %} {% templatetag openvariable %} profile.last_name {% templatetag closevariable %}'s Profile
                    <span v-if="isAdmin" class="badge">Admin</span>
                  </div>
                    <div class="panel-body">
                      <dl class="dl-horizontal profile-view">
                        <dt>User Login ID</dt>
                        <dd>{% templatetag openvariable %} profile.user_name {% templatetag closevariable %}</dd>
                        <dt>Opt In Marketing?</dt>
                        <dd>{% templatetag openvariable %} profile.opt_in {% templatetag closevariable %}</dd>
                        <dt>Department</dt>
                        <dd>{% templatetag openvariable %} profile.department {% templatetag closevariable %}</dd>
                        <dt>Phone Number</dt>
                        <dd>{% templatetag openvariable %} profile.phone_number {% templatetag closevariable %}</dd>
                        <dt>Country</dt>
                        <dd>{% templatetag openvariable %} profile.country {% templatetag closevariable %}</dd>
                        <dt>Company</dt>
                        <dd>{% templatetag openvariable %} profile.company_name {% templatetag closevariable %}</dd>
                      </dl>
                    </div>
  					    </div>
                <div class="panel panel-info">
                  <div class="panel-heading">Groups and access</div>
                    <div class="panel-body">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Group Name</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="grp in profile.groups">
                            <td>{% templatetag openvariable %} grp.name {% templatetag closevariable %}</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
              </div>
  				</div>
          <button v-if="isAdmin" class="btn btn-lg btn-primary btn-block" onclick="window.location.replace('/admin')">Switch to Admin</button>
          <button class="btn btn-lg btn-primary btn-block" onclick="window.location.replace('/logout')">Log out</button>
  			</div>
        <div class="col col-lg-8">
          <h1>Welcome to our Catalog - {% templatetag openvariable %} profile.first_name {% templatetag closevariable %}!</h1>
          <p class="lead">Browse our selection of top quality products.</p>
          <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
          <h2>Featured Product</h2>
          <p class="text-danger">A revolutionary new design!</p>
          <p><img class="img-responsive" src="{% static 'screwdriver.jpeg' %}" style="width:200px;height:200px"/></p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Did you know?</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Contact Us!</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; 2018 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
    <script>
      var app = new Vue({
        el: '#vue-app',
        data: {
          profile: {{ profile|safe }}
        },
        computed: {
            isAdmin: function () {
              for(var i=0; i < this.profile.groups.length; i++){
                if( this.profile.groups[i].name == 'Catalog Admin'){
                  return true
                }
              }
              return false;
            }
          }
      })
    </script>
  </body>
</html>
